.small-menu {
  display: flex;
}

.small-menu a {
  flex: 1;
}

.menu-about {
  text-align: center;
  background-color: #B8860B;
  color: #fff;
}

.menu-contact {
  text-align: center;
  background-color: #6B8E23;
  color: #fff;
}